<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />

    <div class="title-bar">
        <h1 style="color: #fff; font-size: 2em; border: 2px solid #000; padding: 10px;">
            Crypto MENU
        </h1>
        <br />
    </div>
</head>
<body>
    <br />
    <div id="idMENU">
        <div class="col">
            <ul class="shadow-button-set">
                <li><button><a asp-controller="CryptoArticle" asp-action="Index">CryptoArticleLive</a></button></li>
                <li><button><a asp-controller="CryptoArticle" asp-action="ByCategory">Category View</a></button></li>
                <li><button><a asp-controller="DbExtension" asp-action="ViewAction">CRM CryptoArticleActions</a></button></li>
              @*<li><button><a asp-controller="Home" asp-action="Privacy">NULL</a></button></li>*@
                <li><button><a asp-controller="EthScan" asp-action="Index">EthHashTables</a></button></li>
                <li>
                    <button id="myButtonGif">
                        <a asp-controller="Home" asp-action="Index">Link2</a>
                    </button>
                </li>
            </ul>
        </div>
        <div class="col">
            <div id="loadingGif">
                <br />
                <br />
                <table>
                    @for (int i = 0; i < 5; i++)
                    {
                        <tr>
                            @for (int j = 0; j < 5; j++)
                            {
                                <td><img src="~/Images/Gifs/bitcoin_useless.gif" alt="Loading..."></td>
                            }
                        </tr>
                    }
                </table>
            </div>
           @* <li><button><a asp-controller="DbExtension" asp-action="ViewAction">CRM CryptoArticleActions</a></button></li>*@
            <li><button class="btn-outline-info"><a asp-controller="Mail" asp-action="Index">Mail</a></button></li>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $("#myButtonGif").on("click", function (e) {
            e.preventDefault();

            // Show the loading GIF
            $("#loadingGif").show();

            // Get the URL from the anchor tag
            var url = $(this).find("a").attr("href");

            setTimeout(function () {
                window.location.href = url;
            }, 2000);
        });
    });
</script>

<style>
    body {
        background: url('../Images/IMG1/BacgroundActions.jpg') center center no-repeat fixed;
        background-size: cover;
        margin: 0;
        padding: 0;
    }

    .transparent-card-body {
        background-color: rgba(255, 255, 255, 0.8);
    }

    #idMENU {
        display: flex;
        justify-content: space-between;
        width: 60%; /* Adjust the width as needed */
    }

    .col {
        flex: 1;
    }

    .shadow-button-set {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;
    }


    #loadingGif {
        display: none;
    }

        #loadingGif img {
            width: 75%;
            height: 75%;
            object-fit: cover;
        }
</style>







@*<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MENU</title>
    <link rel="stylesheet" href="~/css/CryptoHome.css" asp-append-version="false" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
</head>
<body>
    <div class="text-center">
        <strong><h1>MENU</h1></strong>
    </div>
    <div class="container mt-4">
        <div class="text-center d-flex justify-content-center">
            <a class="text-dark square-container" asp-area="" asp-controller="CryptoArticle" asp-action="Index">CryptoArticleLive</a>
            <a class="text-dark square-container" asp-area="" asp-controller="DbExtension" asp-action="ViewAction">CRM CryptoArticleActions</a>
            <a class="text-dark square-container" asp-area="" asp-controller="CryptoArticle" asp-action="ByCategory">Category View</a>
            <a class="text-dark square-container" asp-area="" asp-controller="Home" asp-action="Index">Link1</a>
            <div class="animation start-home"></div>
        </div>
        <br />
    </div>
</body>*@
