<h2>MENU</h2>
@*<a asp-controller="Gold" asp-action="Index">GoldLIve</a>
<br />
<a asp-controller="Gold" asp-action="Index2">GoldLIve</a>
<br />
<a asp-controller="Gold" asp-action="ViewGoldFull">ViewGoldFull</a>*@
<br />
<a asp-controller="CryptoArticle" asp-action="Index">CryptoArticleLive</a>
<br />
<a asp-controller="DbExtension" asp-action="ViewAction">CryptoArticleActions</a>
<br />
<a asp-controller="CryptoArticle" asp-action="Index2">CryptoArticle</a>
<br />